<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stnts.bi.datamanagement.module.channel.mapper.ChannelApplicationMapper">
    <!-- 2022-01-14 by yf -->
    <select id="getApplicationNameByChild" resultType="com.stnts.bi.datamanagement.module.channel.entity.ChannelApplication">
        select distinct app.id, app.application_name from dm_channel_application app
        <where>
            <trim suffixOverrides="AND | OR" prefix="1=1">
                and app.id in
                <foreach collection='params' open='(' close=')' separator=',' item='item'>
                    #{item}
                </foreach>
            </trim>
        </where>
        <!--select distinct app.product_code, app.product_name, app.id, app.application_name from dm_channel_application app
        <where>
            <trim suffixOverrides="AND | OR" prefix="1=1">
                and
                <foreach collection='params' separator=' or ' item='param' index='i'>
                    (
                    app.product_code = #{param.productCode} and app.id
                    <if test='param.applicationId != null and param.applicationId != ""'>
                        = #{param.applicationId}
                    </if>
                    <if test='param.applicationId == null or param.applicationId == ""'>
                        is null
                    </if>
                    )
                </foreach>
            </trim>
        </where>-->
    </select>

    <select id="selectByProductNameAndAppName" resultType="com.stnts.bi.datamanagement.module.channel.entity.ChannelApplication">
        select a.* from dm_channel_application a
        left join dm_channel_product p on (concat(',', a.id, ',') regexp concat(',', replace(p.application_ids, ',',',|,'), ','))
        <where>
            <trim suffixOverrides="AND | OR" prefix="1=1">
                <if test="params.productCodeList != null and params.productCodeList.size() > 0">
                    and p.product_code in
                    <foreach collection='params.productCodeList' open='(' close=')' separator=',' item='item'>
                        #{item}
                    </foreach>
                </if>
                <if test="params.applicationName != null and params.applicationName != ''">
                    and a.application_name = #{params.applicationName}
                </if>
                <if test="params.id != null and params.id != ''">
                    and a.id = #{params.id}
                </if>
            </trim>
        </where>
    </select>

    <select id="getUseAppProduct" resultType="com.stnts.bi.datamanagement.module.channel.entity.ChannelProduct">
        select p.* from dm_channel_application a
        left join dm_channel_product p on (concat(',', p.application_ids, ',') regexp concat(',', replace(a.id, ',',',|,'), ','))
        where a.id = #{id} and p.id is not null
    </select>

    <select id="selectPageParam" resultType="com.stnts.bi.datamanagement.module.channel.entity.ChannelApplication">
        SELECT a.* FROM dm_channel_application a
        <where>
            <trim suffixOverrides="AND | OR" prefix="1=1">
                <if test='params.keyword != null and params.keyword != ""'>
                    <bind name='key' value="'%' + params.keyword + '%'"/>
                    and (a.id like #{key} or a.application_name like #{key} or a.remark like #{key} or a.username like #{key} or a.create_time like #{key})
                </if>
            </trim>
        </where>
    </select>
</mapper>
