<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stnts.bi.datamanagement.module.cooperation.mapper.CooperationMapper">

    <update id="updateCompanyName">
        update dm_cooperation
        <trim prefix="set" suffixOverrides=",">
            <if test="params.companyName != null and params.companyName != ''">
                company_name = #{params.companyName},
            </if>
            <if test="params.cooperationType != null and params.cooperationType != ''">
                cooperation_type = #{params.cooperationType},
            </if>
            <if test="params.companyTaxkey != null and params.companyTaxkey != ''">
                company_taxkey = #{params.companyTaxkey},
            </if>
            <if test="params.isProtection != null">
                is_protection = #{params.isProtection},
            </if>
            <if test="params.isTest != null">
                is_test = #{params.isTest},
            </if>
        </trim>
        where id = #{params.companyId}
    </update>
</mapper>
